# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/career_copilot?retryWrites=true&w=majority

# Port for Express API Gateway
PORT=5001

# ML Microservice URL
ML_SERVICE_URL=http://localhost:8000
